@charset "UTF-8";

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    width: 1100px;
    margin: auto;
}
header {
    padding: 1px solid black;
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;

}
main {
    padding-bottom:20px;
    & p{
        text-align: center;
    }
    & table{
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        margin: auto;
        width: 1100px;
        height: 600px;
        padding-bottom: 20px;
        position: relative;
    }
    & tr{
        
    }   
    & th{
        top: -1px;
        background-color: grey;
    } 
    & td{
        border: 1px solid black;
        width: 20px;
        height: 20px;
        
    }
    & #cabeçalho{
        background-color: rgba(0, 0, 255, 0.349);
        height:10px; 
    }

        & #fotocor:hover{
            background-image: url(imagens/corinhtians-redimensionada.png);
            background-position: center center;
            transition: 0.5s;
        }
        & #fotosap:hover{
            background-image: url(imagens/sao\ paulo-redimensionada.webp);
            background-position: center center;
            transition: 0.5s;
        }
        & #fotopal:hover{
            background-image: url(imagens/palmeiras-redimensionada.webp);
            background-position: center center;
            transition: 0.5s;
        }
        & #fotosan:hover{
            background-image: url(imagens/Santos-redimensionada.png);
            background-position: center center;
            transition: 0.5s;
        }
    
}
footer {
    border: 1px solid black;
    background-color: black;
    color: white;
    text-align: center;
}